the overarching goal for this application is a 3d CAD browser application running JavaScript that will be an open-source alternative or rather a free alternative to popular browser-based CAD software like Onshape so guide all of your thinking towards this end. Iwant to incorporate JSCAD into the application to add a 3d viewer for the models. and programatic 3d model generation. 
